<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="sUsername" value=""/>
    <add key="sPassword" value=""/>
    <add key="sChannel" value=""/>
    <add key="cb_remember" value=""/>
    <add key="sTimedelaybetweenmessages" value="30000"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>